	<footer class="entry-meta">
		<span class="cat-links">
		<span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span>&nbsp;<a href="/categories/{{ page.category | first }}" title="Show all articles {{ page.category | first }} ansehen" rel="category">Technik</a></span>
		<span class="sep"> | </span>
		<span class="tag-links">
		<span class="entry-utility-prep entry-utility-prep-tag-links">Tagged with</span>&nbsp;<a href="/tags/{{ page.tags | first }}" rel="tag">{{ page.tags | first }}</a></span>
		<span class="sep"> | </span>
	</footer>