---
layout: default
---
<article id="post-853" class="post-853 post type-post status-publish format-standard hentry">
	<header class="entry-header">
		<h1 class="entry-title"><a href="{{ page.url }}" title="Permalink to {{ page.title }}" rel="bookmark">{{ page.title }}</a></h1>
		<div class="entry-meta">
			<span class="sep">Posted on </span>
			<a href="{{ page.url }}" title="" rel="bookmark"><time class="entry-date" datetime="{{ page.date }}" pubdate>{{ page.date | date_to_string }}</time></a>
			<span class="by-author"> 
				<span class="sep"> by </span> 
				<span class="author vcard">
					Jotschi
				</span>
			</span>
		</div>
		<div class="comments-link">
			<a href="/" title="Comment {{ page.title }}"><span class="leave-reply">Reply</span></a>
		</div>
	</header>
	<div class="entry-content">
		{{ content }}
	</div>
	
	{% include article-footer.html %}
</article>

{% include widgets/comments-widget.html %}

